{% extends 'base.html.twig' %}
{% block title %}KUROKO'S BASKET{% endblock %}


{% block body %}
    {% include 'header.html.twig' %}

    <!--  CONTENTS  -->
    <div class="container">

        <div class="section-box-content">
            <h1>ACTUALITÉS</h1>
        </div>


        <!--  NEWS  -->
        <div class="content news">

            {% for new in news|reverse %}
                <div class="section-box-content news" id="{{ new.id }}">
                    <h2>{{ new.title }}</h2>
                    <pre class="news-article">{{ new.content }}</pre>
                </div>
            {% endfor %}

        </div>

    </div>

    {% include 'footer.html.twig' %}
{% endblock %}

{% block stylesheets %}
{% endblock %}


