{% extends 'base.html.twig' %}
{% block title %}KUROKO'S BASKET{% endblock %}


{% block body %}
    {% include 'header.html.twig' %}

    <!--  CONTENTS  -->
    <div class="container">

        <div class="section-box-content">
            <h1>ACTUALITÉS</h1>
        </div>


        <!--  NEWS  -->
        <div class="content news">
            <div class="content__title">
                <img src="/dist/images/iconscan.png" alt="">
                <h2>Actualités</h2>
            </div>
            <!--<img src="/dist/images/Actu.jpg" alt="">-->

            <div>
                {% for new in news|reverse %}
                    <h3>{{ new.title }}</h3>
                    <span>{{ new.content }}</span>
                {% endfor %}
            </div>

        </div>

    </div>

    {% include 'footer.html.twig' %}
{% endblock %}

{% block stylesheets %}
{% endblock %}


