<!--  FOOTER  -->
 {% block footer %}
     <footer>
         <section class="footer-links">
             <li>Alliance Bronies &copy; Copyright 2017</li>
             <li> > <a href="https://github.com/LaurenceRouge/symfony-T2-H3">github.com/symfony-T2-H3</a> < </li>
             <ul class="github-links">
                 <li class="github-link"><a href="https://github.com/PierreTrot">@PierreTrot</a></li>
                 <li class="github-link"><a href="https://github.com/Jennyfer-M">@Jennyfer-M</a></li>
                 <li class="github-link"><a href="https://github.com/Anthelme-RISSER">@Anthelme-RISSER</a></li>
                 <li class="github-link"><a href="https://github.com/Melissandrepozo">@Melissandrepozo</a></li>
                 <li class="github-link"><a href="https://github.com/LaurenceRouge">@LaurenceRouge</a></li>
             </ul>
         </section>
     </footer>
 {% endblock %}

</div>