<!--  HEADER  -->
<header>
    <div><a href="/">LOGO</a></div>
    <h1><a href="/">Nom du site</a></h1>
    <nav class="menu">
        <ul>
            <li><a href="#">L'UNIVERS</a></li>
            <li><a href="/episode">EPISODES</a></li>
            <li><a href="#">MANGAS</a></li>
            <li><a href="/news">ACTUALITES</a></li>
        </ul>
    </nav>
</header>