<div id="main_container">

    <!--  HEADER  -->
    <header>
        <div id="header">
            <div class="logo"></div>
            <a href="/"></a>
        </div>
        <nav class="menu">
            <ul>
                <li class="menu-button menu_accueil"><a href="/" title="Accueil">ACCUEIL</a></li>
                <li class="menu-button menu_univers"><a href="/univers" title="Personnages">PERSONNAGES</a></li>
                <li class="menu-button menu_episode"><a href="/episode" title="Episodes">ÉPISODES</a></li>
                <li class="menu-button menu_scan"><a href="/scan" title="Scans">SCANS</a></li>
                <li class="menu-button menu_news"><a href="/news" title="Actualités">ACTUALITES</a></li>
            </ul>
        </nav>
    </header>