<div id="main_container">

    <!--  HEADER  -->
    <header>
        <div id="header">
            <div class="logo"></div>
            <a href="/"></a>
        </div>
        <nav class="menu">
            <ul>
                <li class="menu-button active"><a href="/" title="Accueil">ACCUEIL</a></li>
                <li class="menu-button"><a href="#" title="Univers">L'UNIVERS</a></li>
                <li class="menu-button"><a href="/episode" title="Episodes">ÉPISODES</a></li>
                <li class="menu-button"><a href="/scan" title="Mangas">MANGAS</a></li>
                <li class="menu-button"><a href="/news" title="Actualités">ACTUALITES</a></li>
            </ul>
        </nav>
    </header>