<div id="main_container">

    <!--  HEADER  -->
    <header>
        <div id="header">
            <div class="logo"></div>
        </div>
        <a href="/"></a>
        <nav class="menu">
            <ul>
                <li><a href="/">ACCUEIL</a></li>
                <li><a href="#">L'UNIVERS</a></li>
                <li><a href="/episode">EPISODES</a></li>
                <li><a href="/scan">MANGAS</a></li>
                <li><a href="/news">ACTUALITES</a></li>
            </ul>
        </nav>
    </header>