{% extends 'base.html.twig' %}
{% block title %}KUROKO'S BASKET{% endblock %}


{% block body %}

    {% include 'header.html.twig' %}

    <!--  CONTENTS  -->
    <div class="container">

            <div class="section-box-content">
                <h1>SCANS</h1>
            </div>

            <div class="section-box-content">

                {% for item in menu %}

                    {% for it in item %}

                        <div class="scan-content">

                            <a href="/scan/{{ it.id }}">
                                <img src="/uploads/scans/{{ it.thumbnail }}" alt="" class="picture-scan-content">
                            </a>
                            <div class="title-scan-content">
                                <div>
                                    <a href="/scan/{{ it.id }}">Tome n°{{ it.chapter }}</a>
                                </div>
                            </div>

                        </div>

                    {% endfor %}

                {% endfor %}

            </div>
    </div>

    {% include 'footer.html.twig' %}

{% endblock %}

