{% extends 'base.html.twig' %}
{% block title %}KUROKO'S BASKET{% endblock %}


{% block body %}

    {% include 'header.html.twig' %}

    <!--  CONTENTS  -->

    <h2 class="episodes entity-title">
        TOUS LES ÉPISODES
    </h2>

    <div class="episodes-content">

        {% for item in menu %}
                <h3 class="season-title"><a href="#">SAISON {{ item[0].season }}</a></h3>
            <ul>
                {% for it in item %}
                    <div class="picture-episode-content">
                    </div>
                    <li><a href="{{ it.id }}">EPISODE {{ it.episode }}</a></li>
                {% endfor %}
            </ul>
            </>

        {% endfor %}


    </div>


    {% include 'footer.html.twig' %}

{% endblock %}

